@import "ext/solarized-light";

.highlight {
  background-color: #f4f4f4;
}

div.highlight {
  padding: 5px 20px;
  margin-bottom: 10px;
}
pre.highlight,
code {
  font-family: "Consolas", Menlo, monospace;
  line-height: 1.4em;
  tab-size: 4;
}

.language-plaintext {
  border-radius: 4px;
  background-color: #f4f4f4;
  color: #586e75;
  padding: 2px 4px;
}
.dark .language-plaintext {
  background-color: #00080a;
  color: #93a1a1;
}
blockquote {
  display: flex;
  align-items: center;
}
blockquote::before {
  display: block;
  content: "";
  background-color: #ddd;
  width: 2px;
  height: 100%;
}
