.dark {
  background-color: var(--black);

  @import "ext/solarized-dark";
}

.dark,
.dark * {

  // header logo 변경
  .header {
    img.light {
      display: none;
    }

    img.dark {
      display: inline;
    }
  }

  // header
  .header {
    background-color: var(--black);

    &__title {
      color: var(--white);
    }

    &__btn {
      background-color: var(--dark-sub);

      &::before {
        background-color: var(--white);
      }

      &-link {
        color: var(--white);
      }

      &:hover {
        background-color: var(--white);

        &::before {
          background-color: var(--black);
        }

        .header__btn-link {
          color: var(--black);
        }
      }
    }

    .dark-mode {
      background-color: var(--point);
    }

    &__search {
      .search {
        &__section {
          background-color: var(--dark-sub);

          .search__icon {
            background-color: var(--white);
          }

          >input {
            color: var(--white);
          }
        }
      }
    }
  }

  .content {

    // home - list
    .list {
      &-item {
        &__text {
          color: var(--white);
        }

        &__tag {
          color: var(--white);
          background-color: var(--black);
        }

        &:hover {
          background-color: var(--dark-sub);
        }
      }
    }

    // home - detail
    .detail {
      &__back-btn {
        &:hover {
          color: var(--white);

          &::before {
            background-color: var(--white);
          }
        }
      }

      &__text {
        color: var(--white);
      }

      &__tag {
        color: var(--white);
      }
    }
  }
}