@import "ext/fonts";
@import "ext/normalize";
@import "syntax";

:root {
  --black: #111111;
  --dark-sub: #282828;
  --white: #ffffff;
  --line: #B9B9B9;
  --bg: #F6F6F6;
  --sub: #888888;
  --point-light: #E9B7A7;
  --point: #DA7656;
  --point-deep: #C05938;
  --point-bg: #FBF9F7;
}

$bigScreenW: 1520px;
$tabletW: 991px;
$mobileW: 768px;
$smallMobileW: 480px;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
embed,
object,
video {
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

main {
  width: 100%;
  height: 100%;

  // header
  .header {
    width: 100%;
    background-color: var(--white);
    position: sticky;
    top: 0;
    z-index: 999;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    &__inner {
      position: relative;
      padding: 10px 72px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: $bigScreenW) {
        padding: 10px 40px;
        gap: 20px;
      }

      @media screen and (max-width: $tabletW) {
        padding: 10px 30px;
      }

      @media screen and (max-width: $mobileW) {
        padding: 10px 20px;
        flex-wrap: wrap;
        gap: 24px 0;
      }
    }

    &__logo {
      display: flex;
      align-items: center;
      gap: 20px;

      @media screen and (max-width: $mobileW) {
        align-items: flex-end;
        gap: 10px;
      }

      &-img {
        width: 86px;

        &.dark {
          display: none;
        }
      }
    }

    &__title {
      color: var(--black);
      font-size: 20px;
      font-weight: 400;
      line-height: 1.3;
      margin: 0;

      @media screen and (max-width: $tabletW) {
        font-size: 16px;
      }

      @media screen and (max-width: $mobileW) {
        font-size: 0;
      }

      &::before {
        display: none;
      }
    }

    &__year {
      color: var(--sub);
      font-size: 14px;
      font-weight: 400;
      line-height: 1.3;
      margin-left: 8px;
      vertical-align: bottom;

      @media screen and (max-width: $bigScreenW) {
        display: block;
        margin: 4px 0 0;
      }

      @media screen and (max-width: $tabletW) {
        font-size: 12px;
      }

      @media screen and (max-width: $mobileW) {
        font-size: 14px;
        margin: 0 0 6px;
      }
    }

    &__btns {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 0;

      @media screen and (max-width: $mobileW) {
        gap: 8px;
      }
    }

    &__btn {
      padding: 4px 8px;
      border-radius: 4px;
      background-color: var(--bg);
      transition: .3s;
      cursor: pointer;

      &::before {
        display: inline-block;
        content: '';
        width: 24px;
        height: 24px;
        background-color: var(--black);
        vertical-align: middle;
      }

      &--git {
        &::before {
          mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0083 2C6.47396 2 2 6.58331 2 12.2535C2 16.786 4.86662 20.6226 8.84338 21.9805C9.34058 22.0826 9.5227 21.7599 9.5227 21.4885C9.5227 21.2508 9.50631 20.436 9.50631 19.587C6.72225 20.1983 6.14249 18.3647 6.14249 18.3647C5.69508 17.1764 5.03215 16.871 5.03215 16.871C4.12092 16.2429 5.09852 16.2429 5.09852 16.2429C6.1093 16.3108 6.63969 17.2954 6.63969 17.2954C7.53432 18.857 8.97592 18.4158 9.55588 18.1441C9.63865 17.482 9.90394 17.0237 10.1856 16.7691C7.96514 16.5314 5.62891 15.6487 5.62891 11.7102C5.62891 10.5898 6.02634 9.67309 6.65608 8.96018C6.55672 8.7056 6.20866 7.65289 6.75564 6.24394C6.75564 6.24394 7.60069 5.97228 9.5061 7.29644C10.3219 7.07199 11.1632 6.95782 12.0083 6.95685C12.8533 6.95685 13.7148 7.07581 14.5102 7.29644C16.4159 5.97228 17.2609 6.24394 17.2609 6.24394C17.8079 7.65289 17.4596 8.7056 17.3603 8.96018C18.0066 9.67309 18.3876 10.5898 18.3876 11.7102C18.3876 15.6487 16.0514 16.5143 13.8143 16.7691C14.179 17.0916 14.4936 17.7026 14.4936 18.6703C14.4936 20.0453 14.4773 21.1489 14.4773 21.4883C14.4773 21.7599 14.6596 22.0826 15.1566 21.9808C19.1333 20.6224 22 16.786 22 12.2535C22.0163 6.58331 17.526 2 12.0083 2Z' fill='%23111111'/%3E%3C/svg%3E") no-repeat center;
          mask-size: contain;
        }
      }

      &--mail {
        &::before {
          mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M5.95215 3.9978C3.91815 3.9978 2.32617 4.5118 2.04517 6.46679C1.95517 7.09279 2.15315 7.70881 2.60816 8.1538C2.83416 8.3748 3.07316 8.6378 3.38916 8.9038C4.18216 9.5728 5.19317 10.3248 6.13917 10.9978C8.74217 12.8478 10.7972 13.9978 12.0142 13.9978C13.2312 13.9978 15.2862 12.8478 17.8892 10.9978C18.8362 10.3248 19.8472 9.5718 20.6392 8.9038C20.9552 8.6378 21.1942 8.3758 21.4202 8.1538C21.8752 7.70881 22.0732 7.09279 21.9832 6.46679C21.7022 4.5118 20.1102 3.9978 18.0762 3.9978H5.95215ZM2.01416 10.1538V15.9978C2.01416 18.2068 3.80516 19.9978 6.01417 19.9978H18.0142C20.2232 19.9978 22.0142 18.2068 22.0142 15.9978V10.1538C21.1942 10.9328 20.2782 11.7368 18.9832 12.6538C16.1472 14.6618 13.6002 15.9978 12.0142 15.9978C10.4282 15.9978 7.88118 14.6618 5.04517 12.6538C3.74917 11.7368 2.83416 10.9328 2.01416 10.1538Z' fill='%23111111'/%3E%3C/svg%3E") no-repeat center;
          mask-size: contain;
        }
      }

      &-link {
        color: var(--black);
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3;

        @media screen and (max-width: $tabletW) {
          display: none;
        }
      }

      &:hover {
        background-color: var(--black);

        &::before {
          background-color: var(--white);
        }

        .header__btn-link {
          color: var(--white);
          text-decoration: none;
        }
      }
    }

    .dark-mode {
      width: 30px;
      height: 30px;
      mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Cpath d='M27 18.2996C25.8721 18.6417 24.6755 18.8256 23.436 18.8256C16.6634 18.8256 11.1732 13.3353 11.1732 6.56262C11.1732 5.32357 11.357 4.12744 11.6987 3C6.6644 4.52676 3 9.20395 3 14.737C3 21.5097 8.49022 27 15.2628 27C20.7963 27 25.4737 23.3348 27 18.2996Z' fill='%23111111' stroke='%23111111' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center;
      mask-size: contain;
      background-color: var(--black);
      transition: .3s;
      cursor: pointer;

      &:hover {
        background-color: var(--sub);
      }
    }

    &__search {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 398px;
      width: 100%;

      @media screen and (max-width: $bigScreenW) {
        position: static;
        transform: none;
        max-width: 320px;
      }

      @media screen and (max-width: $tabletW) {
        max-width: 250px;
      }

      @media screen and (max-width: $mobileW) {
        order: 3;
        max-width: 100%;
      }

      .search {
        &__section {
          position: relative;
          width: 100%;
          padding: 8px 12px;
          background-color: var(--bg);
          border-radius: 999px;

          .search__icon {
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M16.9269 17.04L20.4 20.4M19.28 11.44C19.28 15.7699 15.7699 19.28 11.44 19.28C7.11009 19.28 3.60001 15.7699 3.60001 11.44C3.60001 7.11009 7.11009 3.60001 11.44 3.60001C15.7699 3.60001 19.28 7.11009 19.28 11.44Z' stroke='%23111111' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E") no-repeat center;
            mask-size: contain;
            background-color: var(--black);
          }

          >input {
            padding-left: 32px;
            border: none;
            background-color: transparent;
            color: var(--black);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.3;

            &:focus {
              border: none;
              outline: none;
            }

            &::placeholder {
              color: var(--line);
              font-size: 16px;
              font-weight: 400;
              line-height: 1.3;
            }
          }
        }
      }
    }
  }

  .content {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: $bigScreenW) {
      padding: 0 40px;
    }

    @media screen and (max-width: $tabletW) {
      padding: 0 30px;
    }

    @media screen and (max-width: $mobileW) {
      padding: 0 20px;
    }

    // home - list
    .list {
      width: 100%;
      padding: 30px 0;
      margin: 0;

      @media screen and (max-width: $mobileW) {
        padding: 20px 0;
      }

      &-item {
        padding: 30px;
        border-bottom: 1px solid var(--line);
        transition: .3s;
        cursor: pointer;

        @media screen and (max-width: $mobileW) {
          padding: 20px 10px;
        }

        a {
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }

        &__date {
          color: var(--sub);
          font-size: 16px;
          font-weight: 400;
          line-height: 1.3;
          margin-bottom: 12px;

          @media screen and (max-width: $mobileW) {
            margin-bottom: 8px;
          }

          &::before {
            display: inline-block;
            content: '';
            width: 20px;
            height: 20px;
            mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M5.21429 6.0714H13.7188M4.63393 1.5V2.87159M14.1875 1.5V2.87142M17 5.87142L17 14.5C17 16.1569 15.6569 17.5 14 17.5H5C3.34315 17.5 2 16.1569 2 14.5V5.87142C2 4.21457 3.34315 2.87142 5 2.87142H14C15.6569 2.87142 17 4.21457 17 5.87142Z' stroke='%23888888' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center;
            mask-size: contain;
            background-color: var(--sub);
            vertical-align: middle;
            margin-right: 4px;
          }
        }

        &__title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;

          @media screen and (max-width: $mobileW) {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
          }
        }

        &__text {
          color: var(--black);
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 28px;
          font-weight: 700;
          line-height: 1.3;
          margin: 0;
          transition: .3s;

          @media screen and (max-width: $mobileW) {
            font-size: 24px;
          }

          &:before {
            display: none;
          }
        }

        &__tag {
          color: var(--black);
          font-size: 16px;
          font-weight: 400;
          line-height: 1.3;
          background-color: var(--white);
          border: 1px solid var(--line);
          padding: 8px 16px;
          border-radius: 999px;
          transition: .3s;

          @media screen and (max-width: $mobileW) {
            padding: 4px 10px;
          }

          &-wrap {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 0;

            @media screen and (max-width: $mobileW) {
              flex-wrap: wrap;
              gap: 8px;
            }
          }
        }

        &:hover {
          background-color: var(--point-bg);

          .list-item__text {
            color: var(--point);
          }

          .list-item__tag {
            background-color: var(--point);
            border-color: var(--point);
            color: var(--white);
          }
        }
      }
    }

    // home - detail
    .detail {
      width: 100%;
      padding-top: 30px;

      @media screen and (max-width: $mobileW) {
        padding-top: 20px;
      }

      &__heading {
        padding-bottom: 12px;
        border-bottom: 1px solid var(--line);
      }

      &__back-btn {
        color: var(--sub);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3;
        background-color: transparent;
        border: none;
        transition: .3s;
        margin-bottom: 30px;

        @media screen and (max-width: $mobileW) {
          margin-bottom: 20px;
        }

        &::before {
          display: inline-block;
          content: '';
          vertical-align: middle;
          width: 20px;
          height: 20px;
          mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M12 14L8 10L12 6' stroke='%23888888' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center;
          mask-size: contain;
          background-color: var(--sub);
          margin-right: 8px;
          transition: .3s;
        }

        &:hover {
          color: var(--black);

          &::before {
            background-color: var(--black);
          }
        }
      }

      &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        gap: 20px;

        @media screen and (max-width: $mobileW) {
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 16px;
          margin-bottom: 20px;
        }
      }

      &__text {
        margin: 0;
        color: var(--black);
        font-size: 30px;
        font-weight: 700;
        line-height: 1.3;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @media screen and (max-width: $mobileW) {
          font-size: 28px;
        }
      }

      &__date {
        color: var(--sub);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3;

        &::before {
          display: inline-block;
          content: '';
          width: 20px;
          height: 20px;
          mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M5.21429 6.0714H13.7188M4.63393 1.5V2.87159M14.1875 1.5V2.87142M17 5.87142L17 14.5C17 16.1569 15.6569 17.5 14 17.5H5C3.34315 17.5 2 16.1569 2 14.5V5.87142C2 4.21457 3.34315 2.87142 5 2.87142H14C15.6569 2.87142 17 4.21457 17 5.87142Z' stroke='%23888888' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center;
          mask-size: contain;
          background-color: var(--sub);
          vertical-align: middle;
          margin-right: 4px;
        }
      }

      &__tag {
        color: var(--black);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3;
        padding: 8px 16px;
        border: 1px solid var(--line);
        border-radius: 999px;

        @media screen and (max-width: $mobileW) {
          padding: 4px 10px;
        }

        &-wrap {
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
          gap: 10px;

          @media screen and (max-width: $mobileW) {
            flex-wrap: wrap;
            gap: 8px;
          }
        }
      }
    }
  }
}

.post {
  padding: 0 0 60px;
}