.highlight { color: #ffffff }
.highlight .c { color: #8B8889 } /* Comment */
.highlight .err { color: #93a1a1 } /* Error= */
.highlight .g { color: #93a1a1 } /* Generic= */
.highlight .k { color: #47C562; font-style: italic; } /* Keyword */
.highlight .l { color: #93a1a1 } /* Literal= */
.highlight .n { color: #FD9342 } /* Name */
.highlight .o { color: #EE6172 } /* Operator */
.highlight .x { color: #cb4b16 } /* Other= */
.highlight .p { color: #8B8889 } /* Punctuation */
.highlight .cm { color: #8B8889 } /* Comment.Multiline */
.highlight .cp { color: #859900 } /* Comment.Preproc= */
.highlight .c1 { color: #8B8889 } /* Comment.Single */
.highlight .cs { color: #859900 } /* Comment.Special= */
.highlight .gd { color: #2aa198 } /* Generic.Deleted= */
.highlight .ge { color: #93a1a1; font-style: italic; } /* Generic.Emph= */
.highlight .gr { color: #dc322f } /* Generic.Erro=r */
.highlight .gh { color: #cb4b16 } /* Generic.Heading= */
.highlight .gi { color: #859900 } /* Generic.Inserted= */
.highlight .go { color: #93a1a1 } /* Generic.Output= */
.highlight .gp { color: #93a1a1 } /* Generic.Prompt= */
.highlight .gs { color: #93a1a1; font-weight: bold; } /* Generic.Strong= */
.highlight .gu { color: #cb4b16 } /* Generic.Subheading =*/
.highlight .gt { color: #93a1a1 } /* Generic.Traceback= */
.highlight .kc { color: #cb4b16 } /* Keyword.Constant= */
.highlight .kd { color: #00BDD9; font-style: italic; } /* Keyword.Declaration */
.highlight .kn { color: #859900 } /* Keyword.Namespace= */
.highlight .kp { color: #859900 } /* Keyword.Pseudo= */
.highlight .kr { color: #268bd2 } /* Keyword.Reserved= */
.highlight .kt { color: #dc322f } /* Keyword.Type= */
.highlight .ld { color: #93a1a1 } /* Literal.Date= */
.highlight .m { color: #705EFF } /* Literal.Number */
.highlight .s { color: #D8B010 } /* Literal.String */
.highlight .na { color: #00BDD9; font-style: italic; } /* Name.Attribute */
.highlight .nb { color: #00BDD9 } /* Name.Builtin */
.highlight .nc { color: #47C562; font-style: italic; } /* Name.Class */
.highlight .no { color: #00BDD9 } /* Name.Constant */
.highlight .nd { color: #00BDD9 } /* Name.Decorator */
.highlight .ni { color: #cb4b16 } /* Name.Entity= */
.highlight .ne { color: #cb4b16 } /* Name.Exception= */
.highlight .nf { color: #268bd2 } /* Name.Function= */
.highlight .nl { color: #63A0E5 } /* Name.Label */
.highlight .nn { color: #93a1a1 } /* Name.Namespace= */
.highlight .nx { color: #FD9342 } /* Name.Other */
.highlight .py { color: #93a1a1 } /* Name.Property= */
.highlight .nt { color: #EE6172 } /* Name.Tag */
.highlight .nv { color: #268bd2 } /* Name.Variable= */
.highlight .ow { color: #859900 } /* Operator.Word= */
.highlight .w { color: #93a1a1 } /* Text.Whitespace= */
.highlight .mf { color: #705EFF } /* Literal.Number.Float */
.highlight .mh { color: #705EFF } /* Literal.Number.Hex */
.highlight .mi { color: #705EFF } /* Literal.Number.Integer */
.highlight .mo { color: #705EFF } /* Literal.Number.Oct */
.highlight .sb { color: #586e75 } /* Literal.String.Backtick= */
.highlight .sc { color: #2aa198 } /* Literal.String.Char= */
.highlight .sd { color: #93a1a1 } /* Literal.String.Doc= */
.highlight .s2 { color: #D8B010 } /* Literal.String.Double */
.highlight .se { color: #cb4b16 } /* Literal.String.Escape= */
.highlight .sh { color: #93a1a1 } /* Literal.String.Heredoc= */
.highlight .si { color: #D8B010 } /* Literal.String.Interpol */
.highlight .sx { color: #D8B010 } /* Literal.String.Other */
.highlight .sr { color: #dc322f } /* Literal.String.Regex= */
.highlight .s1 { color: #D8B010 } /* Literal.String.Single */
.highlight .ss { color: #D8B010 } /* Literal.String.Symbol */
.highlight .bp { color: #268bd2 } /* Name.Builtin.Pseudo= */
.highlight .vc { color: #268bd2 } /* Name.Variable.Class= */
.highlight .vg { color: #268bd2 } /* Name.Variable.Global= */
.highlight .vi { color: #268bd2 } /* Name.Variable.Instance= */
.highlight .il { color: #D8B010 } /* Literal.Number.Integer.Long */