---
layout: default
---

{%- if page.title -%}
<ul class="list">
  {%- for post in site.posts -%}
  <li class="list-item">
    {%- assign date_format = site.plainwhite.date_format | default: "%Y. %m. %d"
    -%}
    <a href="{{ post.url | relative_url }}">
      <div class="list-item__date">{{ post.date | date: date_format }}</div>
      <div class="list-item__title">
        <h2 class="list-item__text">{{ post.title | escape }}</h2>
        {%- if post.categories.size > 0-%}
        <ul class="list-item__tag-wrap">
          {%- for tag in post.categories -%}
          <li class="list-item__tag">{{ tag }}</li>
          {%- endfor -%}
        </ul>
        {%- endif -%}
      </div>
    </a>
  </li>
  {%- endfor -%}
</ul>
{%- endif -%}