---
layout: default
---

{%- assign date_format = site.plainwhite.date_format | default: "%Y. %m. %d" -%}
<div class="detail">
  <div class="detail__heading">
    <button type="button" class="detail__back-btn" onclick="location.href='https://shkim00216.github.io/'">목록으로</button>
    <div class="detail__title">
      <h1 class="detail__text">{{ page.title | escape }}</h1>
      {%- if page.categories.size > 0 -%}
      <ul class="detail__tag-wrap">
        {%- for tag in page.categories -%}
        <li class="detail__tag">{{ tag }}</li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
    </div>
    <div class="detail__date">{{ page.date | date: date_format }}</div>
  </div>
  <div class="post">{{ content }}</div>
  {%- if site.plainwhite.disqus_shortname -%}
  <div id="disqus_thread" style="margin-top: 25px"></div>
  <script>
    var disqus_config = function () {
      this.page.url = "{{ page.url | absolute_url }}";
      this.page.identifier = "{{ page.url | absolute_url }}";
    };
    (function () {
      var d = document,
        s = d.createElement("script");
      s.src =
        "https://{{ site.plainwhite.disqus_shortname }}.disqus.com/embed.js";
      s.setAttribute("data-timestamp", +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {%- endif -%}
</div>